<div class="recipe-container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="onBackClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ recipe.name }}</span>
    <button mat-icon-button class="favorite-button">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
  <div style="padding-top: 56px"></div>
  <div class="img-container">
    <img src="{{ recipe.image }}" class="image">
  </div>
  <div class="description">
    <h3>
      Time to cook: {{ recipe.timeToCook }}
    </h3>
    <h3>
      Description:
    </h3>
    {{ recipe.description }}
  </div>
  <div class="ingredients">
    <h3>
      Ingredients:
    </h3>
    <ul>
      <div *ngFor="let ingredient of recipe.ingredients">
        <li>
          {{ ingredient }}
        </li>
      </div>
    </ul>
  </div>
  <div class="preparation">
    <h3>
      Steps:
    </h3>
    <ol>
      <div *ngFor="let step of recipe.steps">
        <li>
          {{ step }}
        </li>
      </div>
    </ol>
  </div>
</div>

