<div class="recipe-container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="onBackClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Vanilla churros</span>
    <button mat-icon-button class="favorite-button">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
  <div style="padding-top: 56px"></div>
  <div class="img-container">
    <img src="../../../assets/img/the-perfect-churros1980x1320-127049-1.jpg" class="image">
  </div>
  <div class="description">
    <h3>
      Time to cook: 1h
    </h3>
    <h3>
      Description:
    </h3>
    Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
    eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
  </div>
  <div class="ingredients">
    <h3>
      Ingredients:
    </h3>
    <ul>
      <li>
        Ingredient 1
      </li>
      <li>
        Onion
      </li>
      <li>
        Chicken
      </li>
      <li>
        Milk
      </li>
    </ul>
  </div>
  <div class="preparation">
    <h3>
      Steps:
    </h3>
    <ol>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </li>
      <li>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </li>
    </ol>
  </div>
</div>

