<div class="example-card">
  <mat-card >
    <mat-card-header>
      <mat-card-title>Vanilla churros</mat-card-title>
      <mat-card-subtitle>Medium</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container">
      <img class="image"
           src="../../../assets/img/the-perfect-churros1980x1320-127049-1.jpg"
           alt="Photo of churros">
    </div>

    <mat-card-content>
      <p>
        {{ descriprion | slice:0:140 }}...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
