.fixed-tooblar {
  position: fixed;
  background-color: #F865B0;
  display: inline-block;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.container {
  margin-top: 10px;
}

.menu-button {
  width: 33%;
}

