<div class="search-field">
  <form class="example-form" [formGroup]="formGroup">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Enter ingredient" aria-label="Name" formControlName="search" matInput  [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
