.search-field{
  align-content: center;
  padding: 30px 20px 10px 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.if-not-chosen{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.example-chip-list {
  width: 85vw;
}
