/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
$font-family: 'Raleway, sans-serif'
);
@include angular-material-typography($custom-typography);

body{
  font-family: 'Raleway', sans-serif;
  color: #48304D;
  position: fixed;
  height: 100vh;
  background-color: #F9F4F8;
  bottom: 0;
  //left: 0;
  //top: 0;
  right: 0;
  text-align: center;
}

.f20px {
  font-size: 20px;
}

.f15px {
  font-size: 15px;
}
